<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- xml有两种: 合法XML 有效XML(xsd,dtd) -->
<configuration>
	<typeAliases>
		<package name="cn.boot.model"/>
	</typeAliases>

</configuration>